# Compiled class file
./Backend/*.class

# Log file
./Backend/*.log

# BlueJ files
./Backend/*.ctxt

# Mobile Tools for Java (J2ME)
./Backend/.mtj.tmp/

# Package Files #
./Backend/*.jar
./Backend/*.war
./Backend/*.nar
./Backend/*.ear
./Backend/*.zip
./Backend/*.tar.gz
./Backend/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
./Backend/hs_err_pid*
./Backend/replay_pid*

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build
/frontend/dist

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*


.gitignore

